@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}
main {
    background-color: #FFFFFF;
}

.jumbo p {
    font-size: large;
}

img {
    width: 280px;
    height: 280px;
    border-radius: 100%;
    margin-top: 50px;
}

h1 {
    font-size: 1.8em;
    font-family: 'Roboto Mono', monospace;
    margin-top: 40px;
    margin-bottom: 30px;
}

span {
    font-size: 1.3em;
}

header {
    width: 100%;
    height: 60px;
    background-color: #4FA3E3;
}

.flex {
    display: flex;
    flex-direction: row;
    gap: 3em;
    justify-content: space-evenly;
    align-items: center;
}

.qualis h4 {
    font-size: larger;
    font-family: 'Roboto Mono', monospace;
}

.prinav {
    margin-right: 25px;
}

.prinav li {
    font-size: x-large;
    list-style: none;
    font-weight: 1000;
} 

.prinav li a {
    text-decoration: none;
    color: black;
    font-family: 'Roboto Mono', monospace;
}

label {
    margin-left: 20px;
    font-size: xx-large;
    font-family: 'Roboto Mono', monospace;
}

.jumbo {
    float: left;
}

.me {
    position: absolute;
    right: 350px ;
}

.jumbotron {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 330px;
}

.title, h1, p {
    margin-left: 180px;
    padding-bottom: 20px;
}

.qualis {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 100px;
    margin-left: 100px;
    margin-top: 25px;
}

.skills {
    margin-left: 100px;
}

.listing li {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 2px;
    font-weight: 550;
}

h4 {
    padding-bottom: 5px;
    background-color: #4FA3E3;
    border: 2px solid #4FA3E3;
}

.listing {
    margin-left: 0px;
}

footer {
    display: flex;
    flex-direction: row;
}

footer li {
    list-style: none;
}

.socials {
    display: flex;
    flex-direction: row;
    margin: 2em auto;
}

i {
    cursor: pointer;
}

.hobby li {
    border: 1px solid #4FA3E3;
}

.priority li {
    border: 1px solid #4FA3E3;
}

.skills li {
    border: 1px solid #4FA3E3;
}

/* .qualis li {
    border-bottom: 1px solid #4FA3E3;
} */