* {
    padding: 0;
    margin: 0;
}

header {
    padding: 0 30px 30px 30px;
    text-align: center;
}
body {
    background-color:rgb(70, 162, 165);
}

table {
    width: 100%;
    border-spacing: 5px;
}
table, th td {
    border: 1px solid black;
    /* border-collapse: collapse; */
}

th, tr, td {
    padding: 5px;
}

thead th {
    text-align: left;
    background-color: rgba(150, 212, 212, 0.6);
}
tr:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.6);
}

tr:nth-child(odd) {
    background-color: rgba(150, 212, 212, 0.4);
}